<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item me-auto"><a class="navbar-brand" href="/index"><span class="brand-logo">
                    <img src="/assets/image/timesheet-logo.png" >
                    <h2 class="brand-text">Time Tracker</h2>
                </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i
                        class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i
                        class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"
                        data-ticon="disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a class="d-flex align-items-center" href="/index"><i data-feather="home"></i><span
                        class="menu-title text-truncate" data-i18n="Dashboards">Dashboards</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/email_message"><i
                        data-feather="mail"></i><span class="menu-title text-truncate" data-i18n="Email">Email
                        Message</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/notice_Board"><i
                        data-feather="check-square"></i><span class="menu-title text-truncate" data-i18n="Todo">Notice
                        Bord</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/public_Holiday"><i
                        data-feather="calendar"></i><span class="menu-title text-truncate" data-i18n="Calendar">Public
                        Holiday</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/view-leave"><i
                        data-feather="file-text"></i><span class="menu-title text-truncate" data-i18n="Invoice">Leave
                        Management</span></a>

            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/statusManagment"><i
                        data-feather="save"></i><span class="menu-title text-truncate" data-i18n="File Manager">Status
                        Management</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/getAssignedTask"><i
                        data-feather="shield"></i><span class="menu-title text-truncate"
                        data-i18n="Roles &amp; Permission">Task Assign
                    </span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/client_assign"><i
                        data-feather="user"></i><span class="menu-title text-truncate" data-i18n="User">Client
                        Assign</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/view-department"><i
                data-feather="user"></i><span class="menu-title text-truncate" data-i18n="User">Department</span></a>
            </li>
            <li class=" nav-item"><a class="d-flex align-items-center" href="/view-users"><i
                        data-feather="user-check"></i><span class="menu-title text-truncate"
                    data-i18n="Authentication">Users</span></a>

            </li>
            <li class="nav-item has-sub" style=""><a class="d-flex align-items-center" href="#"><svg
                        xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-user-check">
                        <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="8.5" cy="7" r="4"></circle>
                        <polyline points="17 11 19 13 23 9"></polyline>
                    </svg><span class="menu-title text-truncate" data-i18n="Authentication">Master</span></a>
                <ul class="menu-content">
                    <li><a class="d-flex align-items-center" href="/getRoleList"><svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" class="feather feather-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                        </svg><span class="menu-item text-truncate" data-i18n="Login">Role</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>