<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description"
        content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords"
        content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Kanban - Vuexy - Bootstrap HTML admin template</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600"
        rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/jkanban/jkanban.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/forms/select/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/editors/quill/katex.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/editors/quill/monokai-sublime.min.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/editors/quill/quill.snow.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/editors/quill/quill.bubble.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/forms/pickers/form-flat-pickr.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/forms/form-quill-editor.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/plugins/forms/form-validation.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/app-kanban.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
    data-menu="vertical-menu-modern" data-col="">

    <!-- BEGIN: Header-->
    <%-include("./partials/header") %>
        <!-- END: Header-->


        <!-- BEGIN: Main Menu-->
        <%-include("./partials/sidebar") %>
            <!-- END: Main Menu-->

            <!-- BEGIN: Content-->
            <div class="app-content content kanban-application">
                <div class="content-overlay"></div>
                <div class="header-navbar-shadow"></div>
                <div class="content-wrapper container-xxl p-0">
                    <div class="content-header row">
                    </div>
                    <div class="content-body">
                        <section id="basic-datatable">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div id="DataTables_Table_0_wrapper"
                                            class="dataTables_wrapper dt-bootstrap5 no-footer">
                                            <div class="card-header border-bottom p-1">
                                                <div class="head-label">
                                                    <h6 class="mb-0">DataTable with Buttons</h6>
                                                </div>
                                                <div class="dt-action-buttons text-end">
                                                    <div class="dt-buttons d-inline-flex"> <button
                                                            class="dt-button buttons-collection btn btn-outline-secondary dropdown-toggle me-2"
                                                            tabindex="0" aria-controls="DataTables_Table_0"
                                                            type="button" aria-haspopup="true"><span><svg
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-share font-small-4 me-50">
                                                                    <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8">
                                                                    </path>
                                                                    <polyline points="16 6 12 2 8 6"></polyline>
                                                                    <line x1="12" y1="2" x2="12" y2="15"></line>
                                                                </svg>Export</span></button> <button
                                                            class="dt-button create-new btn btn-primary" tabindex="0"
                                                            aria-controls="DataTables_Table_0" type="button"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#modals-slide-in"><span><svg
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-plus me-50 font-small-4">
                                                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                                </svg>Add Status</span></button> </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mx-0 row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                                        <label>Show <select name="DataTables_Table_0_length"
                                                                aria-controls="DataTables_Table_0" class="form-select">
                                                                <option value="7">7</option>
                                                                <option value="10">10</option>
                                                                <option value="25">25</option>
                                                                <option value="50">50</option>
                                                                <option value="75">75</option>
                                                                <option value="100">100</option>
                                                            </select> entries</label></div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                                        <label>Search:<input type="search" class="form-control"
                                                                placeholder=""
                                                                aria-controls="DataTables_Table_0"></label></div>
                                                </div>
                                            </div>
                                            <table class="datatables-basic table dataTable no-footer dtr-column"
                                                id="DataTables_Table_0" role="grid"
                                                aria-describedby="DataTables_Table_0_info" style="width: 1036px;">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="control sorting_disabled" rowspan="1" colspan="1"
                                                            style="width: 24px; display: none;" aria-label=""></th>
                                                        <th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all"
                                                            rowspan="1" colspan="1" style="width: 24px;" data-col="1"
                                                            aria-label="">
                                                            <div class="form-check"> <input class="form-check-input"
                                                                    type="checkbox" value=""
                                                                    id="checkboxSelectAll"><label
                                                                    class="form-check-label"
                                                                    for="checkboxSelectAll"></label></div>
                                                        </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 92px;"
                                                            aria-label="Name: activate to sort column ascending">EMPLOYEE NAME
                                                        </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 92px;"
                                                            aria-label="ID: activate to sort column ascending">CLIENT NAME
                                                        </th>
                                                        <th class="sorting" tabindex="0"
                                                           aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                           style="width: 92px;"
                                                           aria-label="ID: activate to sort column ascending">WORK TYPE
                                                       </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 85px;"
                                                            aria-label="Date: activate to sort column ascending">Date
                                                        </th>
                                                        <th class="sorting" tabindex="0"
                                                           aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                           style="width: 85px;"
                                                           aria-label="TIME: activate to sort column ascending">TIME
                                                       </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                            style="width: 107px;"
                                                            aria-label="discription: activate to sort column ascending">
                                                            Discription</th>
                                                        <th class="sorting_disabled" rowspan="1" colspan="1"
                                                            style="width: 117px;" aria-label="Actions">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="odd">
                                                        <td valign="top" colspan="7" class="dataTables_empty">No data
                                                            available in table</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-between mx-0 row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_info" id="DataTables_Table_0_info"
                                                        role="status" aria-live="polite">Showing 0 to 0 of 0 entries
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                        id="DataTables_Table_0_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button page-item previous disabled"
                                                                id="DataTables_Table_0_previous"><a href="#"
                                                                    aria-controls="DataTables_Table_0" data-dt-idx="0"
                                                                    tabindex="0" class="page-link">&nbsp;</a></li>
                                                            <li class="paginate_button page-item next disabled"
                                                                id="DataTables_Table_0_next"><a href="#"
                                                                    aria-controls="DataTables_Table_0" data-dt-idx="1"
                                                                    tabindex="0" class="page-link">&nbsp;</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal to add new record -->
                            <div class="modal modal-slide-in fade" id="modals-slide-in" style="display: none;"
                                aria-hidden="true">
                                <div class="modal-dialog sidebar-sm">
                                    <form class="add-new-record modal-content pt-0">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">×</button>
                                        <div class="modal-header mb-1">
                                            <h5 class="modal-title" id="exampleModalLabel">New Record</h5>
                                        </div>
                                        <div class="modal-body flex-grow-1">
                                            <div class="mb-1">
                                                <label class="form-label" for="basic-icon-default-fullname">Select 
                                                   Client</label>
                                                   <select class="form-select">
                                                        <option value="">select Client</option>
                                                        <option value="1 ">angular</option>
                                                        <option value="2">java</option>
                                                    <option value="3">php</option>
                                                </select>
                                            </div>
                                            <div class="mb-1">
                                                <label class="form-label" for="basic-icon-default-fullname">Work Type 
                                                   </label>
                                                   <select class="form-select">
                                                        <option value="">select Workk Type</option>
                                                        <option value="1 ">Bug</option>
                                                        <option value="2">Improvement</option>
                                                    <option value="3">New</option>
                                                </select>
                                            </div>
                                            <div class="mb-4">
                                                <label class="form-label" for="basic-icon-default-salary">Description</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea78d" rows="3">
                                                </textarea>
                                            </div>
                                            <div class="mb-1">
                                                <label class="form-label" for="basic-icon-default-fullname">Module Name</label>
                                                <input type="text" class="form-control dt-full-name" id="basic-icon-default-fullname" placeholder="Enter Module Name" aria-label="Module Name">
                                            </div>
                                            <div class="mb-1">
                                                <label class="form-label" for="basic-icon-default-date">
                                                   Time </label>
                                                <input type="time" step="3600" class="form-control" 
                                                    id="time" placeholder=""
                                                    aria-label="" >
                                            </div>
                                            <button type="button"
                                                class="btn btn-primary data-submit me-1 waves-effect waves-float waves-light">Submit</button>
                                            <button type="reset" class="btn btn-outline-secondary waves-effect"
                                                data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
            <!-- END: Content-->

            <div class="sidenav-overlay"></div>
            <div class="drag-target"></div>

            <!-- BEGIN: Footer-->
            <%-include("./partials/footer") %>
                <!-- END: Footer-->


                <!-- BEGIN: Vendor JS-->
                <%-include("./partials/scripts") %>

</body>
<!-- END: Body-->

</html>